@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Monocraft';
    src: url('./../fonts/Monocraft-SemiBold.woff');
}

@layer base {
    * {
        @apply border-border border-[#333];
    }
    body {
        @apply bg-background text-foreground;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
    }

    :root {
        --orange: 36, 100%, 61%;

        --background: 0 0% 6%;

        --bg-card: 0 0% 9%;
        --border-card: 235 16% 15%;

        --foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --primary: 257 100% 64%;
        --primary-foreground: 257 100% 64%;
        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-2: 60 4.8% 90.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: var(--hue) 95% 53.1%;
        --radius: 0.5rem;

        --font-minecraft: 'Monocraft', sans-serif;
    }

    .dark {
        --hue: 27;

        --background: var(--hue) 65% 4%;
        --foreground: var(--hue) 10% 97.5%;

        --muted: var(--hue) 41% 13%;
        --muted-foreground: var(--hue) 10% 55%;

        --popover: var(--hue) 44% 7.5%;
        --popover-foreground: var(--hue) 10% 97.5%;

        --card: var(--hue) 44% 7.5%;
        --card-foreground: var(--hue) 10% 97.5%;

        --border: var(--hue) 41% 13%;
        --input: var(--hue) 41% 13%;

        --primary: var(--hue) 100% 50%;
        --primary-foreground: var(--hue) 10% 5%;

        --secondary: var(--hue) 41% 13%;
        --secondary-foreground: var(--hue) 10% 97.5%;

        --accent: var(--hue) 41% 13%;
        --accent-foreground: var(--hue) 10% 97.5%;

        --accent-2: var(--hue) 41% 15%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: var(--hue) 10% 97.5%;

        --ring: var(--hue) 100% 50%;
    }

    --clr-card: #1f2937;
    --clr-1: #6420aa;
    --clr-2: #ff3ea5;
    --clr-3: #ff7ed4;
}

html,
body {
    @apply h-full;
}

::-webkit-scrollbar {
    width: 6px;
    height: 9px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 0px solid transparent;
    box-shadow:
        inset 0 0 2,
        5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 45px;
    background: linear-gradient(360deg, hsl(var(--primary)), hsl(var(--primary) / 0.5));
    border-radius: 45px;
}

.loader {
    border: 4px solid hsl(var(--accent));
    border-top: 4px solid hsl(var(--primary));
    border-radius: 50%;
    width: 120px;
    height: 120px;
    @apply animate-spin;
}

.hero-image::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    z-index: -1;
}

.stone-pattern {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)), url("https://s3-alpha-sig.figma.com/img/3ad7/fd2d/413af44f28971008b9d162aeca5b27c7?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=A-aP8ojDKSuUDmFjbpLgqsdxW9rmjnS7HiBGMWtjEExbch2x~1Nado74~gTQ~8fEp7lmjYKKbmF872nEJrIEwDTtL5u~-kurOdNV903EZwgQu1hRByz0DLes~gRNk9Ua5Eoaiad30JAi~UCv7w-svlH8nlZuVwcGotw3iSvLeM8bcSlgd-akiCyAUCaJe6zLCz5eefnKyk9yLbd0onK5EsrVqkwYbhIKG0mSTto01fWsH5K7Kt-rZdZbcTAvmL7OZVPdueF0EsqY4nvBmC6PN9NFBQ2uI1ewiIerikFVEeQOooOEnNfZIi3wbIf2XaCS6RbHOJVzpkBduEr9-JRAUQ__");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;

}

@layer components {

   .featured-package {
       background:
           linear-gradient(hsl(var(--accent)), hsl(var(--accent))) padding-box,
           linear-gradient(var(--angle), hsl(var(--primary) / 0.02), hsl(var(--primary))) border-box;
       animation: 3.5s rotate linear infinite;
   }
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.swiper-button-next::after, .swiper-button-prev::after {
    color: hsl(var(--accent-foreground));
    transform: scale(0.4);
}

body {
    background-color: var(--background) !important;
}
